.middleOfScreen {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

@media screen and (min-width: 992px) {
  .middleOfScreen {
    left: 50%;
    transform: translate(-50%, -70%);
  }
}

@media screen and (min-width: 768px) {
  @media screen and (max-width: 991px) {
    .middleOfScreen {
      left: 3%;
    }
  }
}
