<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="/assets/css/style.css"/> -->
    <style>
      body {
        font-family: 'Source Sans Pro', sans-serif !important;
      }
    </style>
  </head>
  <body>
    <div id="app"><%- markup -%></div>
    <script src="http://localhost:5500/assets/js/bundle.js" charset="utf-8"></script>
    <!-- <script src="/assets/js/bundle.js" charset="utf-8"></script> -->
  </body>
</html>
